<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--two-thirds push--large--one-sixth">

    <h1>{{ page.title }}</h1>

      {{ page.content }}

      {{ page.metafields["global"]["Section-1"] }}

      {{ page.metafields["global"]["Section-2"] }}


  </div>

</div>
